
<div id="container">
  <a class="cta-btn" aria-label="Opens the residential certification guide" href="http://interdnndev/Portals/0/Library/Environment/docs/Fertilizer%20Application%20Online%20Course%202017%20enabled%20for%20inhouse%20quiz.pdf" style="margin-left: 0px;">
    <h3>Residential Certification Course</h3>
  </a>
  <a class="cta-btn" aria-label="Opens the the commercial certification page in new tab" href="http://fyn.ifas.ufl.edu/professionals/BMP_overview.htm" >
    <h3>Commercial Certification Information</h3>
  </a>
  <a class="cta-btn" aria-label="Opens your email client to request a presentation"href="mailto:EPD@ocfl.net">
    <h3>Request a Fertilizer Presentation</h3>
  </a>

  <div id="about">
    <div id="about-video">
        <iframe width="853" height="480" src="https://www.youtube.com/embed/jDz_mSCgrko" title="Agriculture" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </div>
    <div id="about-text">
      <p>Many fertilizers contain nitrogen and phosphorus. Often referred to as "nutrients," they enter our stormwater system or directly into our <button class="term" onclick="showTerm(this); return false;" title="Click to view definition"><span  >surface waters</span></button><span class="term-definition"> Surface waters includes lakes, rivers, etc.</span> after rain events when landscapes are over-fertilized. These excess nutrients promote algae growth and cause water quality problems in our springs, lakes and rivers.</p>
    </div>
    <div id="about-tips">
      <h4 class="h4-style">Quick Tips</h4>
      <img src="http://www.ocfl.net/Portals/0/Library/Environment/images/fertilizer_storms.png" alt="No fertilizer before storms" title=""/>
      <img src="http://www.ocfl.net/Portals/0/Library/Environment/images/fertilizer_pavement.png" alt="Keep off pavement" title=""/>

     <!-- <img src="http://www.ocfl.net/Portals/0/Library/Environment/images/fertilizer_cleanup.png" alt="Clean up and properly dispose of fetilizer spills" title=""/> -->
      <img src="http://www.ocfl.net/Portals/0/Library/Environment/images/fertilizer_nitrogen.png" alt="Fetilizer with Nitrogen must be at least 50% slow-release nitrogen" title=""/>
      <img src="http://www.ocfl.net/Portals/0/Library/Environment/images/fertilizer_nop.png" alt="Choose fertilizer with zero phosphorus" title=""/>
    </div>
  </div>

  <h2 class="h2-style">Rules to Follow</h2>


  <table class="fertilizer-table" id="ftable-1">
    <caption class="hidden">This table lays out the rules that apply to both residential and commercial fertilizer applicators.</caption>
    <tr>
      <th scope="col">Residential & Commercial</th>
      <th scope="col">Commercial Only</th>
    </tr>
    <tr>
      <td><ul>
    <li>All areas of property covered by lawn, turf and landscape plants are subject to this ordinance.</li>
    <li>Fertilizers containing phosphorus are prohibited unless soil test shows deficiency.</li>
    <li>Year-round, any nitrogen containing fertilizers applied in Orange County must  contain 50% slow release nitrogen until 65% slow-release type becomes available (expected by July 2020).</li>
    <li>No fertilizer or grass clippings shall be deposited on streets, driveways or in stormdrains.</li>
    <li>Deflector shields must be in place when spreaders are used next to streets, inlets, ditches, conveyances and waterways.
        <br/><img src="http://www.ocfl.net/Portals/0/Library/Environment/images/fertilizer_spreader.png" style="width: 50%; margin-left: 50px" alt="When using a broadcast spreader, it must have a deflector shield" title=""/>
        </li>
    <li>No fertilizer can be applied within 15 feet from waterways.</li>
    <li>Maintain a 10 foot low maintenance zone (planted area with no fertilizing, mowing or maintenance) adjacent to water bodies.</li>
    <li>No fertilizer shall be applied when the National Weather Service issues the following advisories: severe thunderstorm warning or watch, flood warning or watch, tropical storm warning or watch, or hurricane warning or watch.</li>
        <li>Unless you have annual proof of training, no fertilizer containing nitrogen or phosphorus may be applied in Orange County between June 1 to September 30.</li>
</ul>
      </td>

      <td>
        <ul>
    <li>Commercial applicators must show proof of training by displaying decals on vehicles used during application.</li>
    <li>Proof of training must be provided in order to obtain an Orange County local business tax certificate for businesses that provide landscape services.</li>
</ul>
<h4 class="h4-style">Retail Businesses </h4>
<ul>
    <li>Retail businesses that sell fertilizer must post a notice provided by Orange County regarding the ordinance. </li>
    <li>Retailers who need a poster(s) for their establishment may <a href="/Portals/0/Library/Environment/docs/FLY_18.02_Fertilizer_application_regulation_Final.pdf" target="_blank">click here</a> to obtain and print the poster(s) or send an email to <a href="mailto:EPD@ocfl.net">EPD@ocfl.net</a> to get posters mailed to their business. </li>
</ul>
<h4 class="h4-style">Business Exemption</h4>
<ul>
    <li>Golf courses, bona-fide agricultural operation and sports fields are exempt from the ordinance.</li>
</ul>
      </td>
    </tr>
  </table>

  <h2 class="h2-style">Consequences of Noncompliance</h2>

    <table class="fertilizer-table" id="ftable-2">
    <caption class="hidden">This table shows the consequences and fees when a resident or a commercial business is found to be non-compliant.</caption>
    <tr>
      <th scope="col">Residential</th>
      <th scope="col">Commercial</th>
    </tr>
    <tr>
      <td>
<ul>
    <li>First  violations:  written notice</li>
    <li>Second violation: $50.00 fine</li>
    <li>Third and subsequent violations: $100.00 fine</li>
</ul>


      </td>
      <td>
        <ul>
    <li>First  violations:  written notice</li>
    <li>Second violation: $500.00 fine</li>
    <li>Third and subsequent violations: $750.00 fine</li>
</ul>
      </td>
    </tr>
  </table>

</div>

<style>
    #container{
  width: 695px;
  //background-color: pink;
}

.hidden{
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
.cta-btn{
  display: inline-block;
  position: relative;
  width: 30%;
  height: 150px;
  margin-left: 30px;
  text-align: center;
  background-color: lightgrey;
  font-size: 1.5em;
  text-decoration: none !important;
  color: #0D361E !important;
  font-family: sans-serif;
  //border: 10px solid #0D361E;
  box-shadow: 0px 3px 8px #0D361E;
  background: url('http://www.ocfl.net/Portals/0/Library/Environment/images/grass_fertilizer_sm.png');
  background-size: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-repeat: no-repeat;
  background-position: 0px 90px;
   animation-name: outGrass;
  animation-fill-mode: forwards;
  animation-duration: .25s;
  animation-timing-function: ease-in-out;
}

/*@keyframes moveGrass{
    from {background-position: 0px 90px;}
    to {background-position: 0px 70px;}
}*/

@keyframes inGrass{
  from {background-position: 0px 90px;}
  to {background-position: 0px 50px;}
}

 @keyframes outGrass {
   from {background-position: 0px 50px;}
   to {background-position: 0px 90px;}
}

.cta-btn:hover, .cta-btn:focus{
  animation-name: inGrass;
  animation-fill-mode: forwards;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
}

#about{
  width: 100%;
  background-color:  rgb(217, 242, 230, .5);
  margin-top: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#about-video{
  display: inline-block;
  width: 55%;
  vertical-align: top;
  margin: 16px 1.5%;
}
#about-text{
  display: inline-block;
  width: 40%;
}

#about-tips{
  width: 100%;
  height: 300px;
  text-align: center;
}
#about-tips img {
  max-width: 250px;
  max-height: 150px;
  margin-bottom: 20px;
  display: inline-block;
  margin-left: 10px;
  vertical-align: top;
}

.term{
  background: none;
  //border: none;
  color: #0D361E;
  //font-size: .8em;
  display: inline;
  margin: 0px;
  cursor: help;
  text-decoration: underline;
}
.term-definition{
  color: white;
  display: none;
  background-color: #0D361E;
  cursor: auto;
  font-family: sans-serif;
  line-height: 1.5em
}
.term-definition-visible{
  display: inline;
}

.h2-style{
  color: #0D361E;
  text-align: center;
}
.h4-style{
  text-align: center;
}
.fertilizer-table{
  width: 100%;
  border-collapse: collapse;

}
.fertilizer-table tr:nth-child(1){
  font-size: 1.2em;
  color: white;
  background-color: #0D361E;
}

.fertilizer-table th {
    border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.fertilizer-table th:nth-child(1){
  padding: 10px;
  border-right: 2px solid white;
}

.fertilizer-table td{
  vertical-align: top;
  background-color:rgb(217, 242, 230, .5);
}

#ftable-1 ul{
  //padding-left: 20px;
}

.fertilizer-table td ul li{
  padding-bottom: 10px;
  padding-right: 15px;

}
.fertilizer-table td:nth-child(1){

  border-right: 2px solid white;
}
</style>
