
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
</style>
</head>
<body>



<div class="card">
  <img src="https://static.prepp.in/public/image/cf7ef76150eb55ae1b62c694d72864b7.png?tr=w-512,h-341,c-force" alt="John" style="width:100%">

  <p class="title">The word “Kharif” is Arabic for autumn since the season coincides with the beginning of autumn or winter. As cultivation of these crops happens in the monsoon season, another name for Kharif crop is monsoon crop. The Kharif season differs in every state of the country but is generally from June to September. We sow the crop at the beginning of the monsoon season around June and harvest by September or October. Rice, maize, bajra, ragi, soybean, groundnut, cotton are all Kharif crops.</p>

</body>

</html>