<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
</style>
</head>
<body>

<div class="card">
  <img src="https://hi-static.z-dn.net/files/d46/a1846af6f4653647024d3786c20fdfd2.jpg" alt="John" style="width:100%">

  <p class="title">The Arabic translation of the word”Rabi”, is spring.  As these crops harvest in the springtime hence the name. The Rabi season usually starts in November and lasts up to March or April. Cultivation of Rabi crop is mainly through irrigation since monsoons are already over by November. In fact, unseasonal showers in November or December can ruin the crop. Farmers sow the seeds at the beginning of autumn, which results in a spring harvest. Wheat, barley, mustard and green peas are some of the major rabi crops that grow in India.</p>

</body>
</html>