<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
</style>
</head>
<body>

<div class="card">
  <img src="https://static.prepp.in/public/image/78fa310c5e981321164620c9ee344294.png?tr=w-512,h-384,c-force" alt="John" style="width:100%">

  <p class="title">There is a short season between Kharif and Rabi season in the months of March to July. In general, Zaid crops are crops that grow in this season. Also, these grow on irrigated lands. So we do not have to wait for monsoons to grow them. Some examples of Zaid crops are pumpkin, cucumber, bitter groud. </p>

</body>
</html>